/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	
	height: auto;
	background:red;
	
	&.smaller{
		background: green;	
	}
	
	
	
}
	
nav {
  margin-bottom: 30px; }

#nav-main {
  background-color: #ff0032;
  padding: 10px 0; }
  #nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  #nav-main li {
    display: inline-block;
    border-right: solid 1px #cc0028;
    padding: 0 5px; }
    #nav-main li:last-child {
      border-right: none; }
  #nav-main a {
    display: block;
    color: white;
    padding: 10px 30px; }
    #nav-main a:hover {
      background-color: #e6002d;
      color: #fff; }

#nav-mobile {
  position: relative;
  display: none; }
  #nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ff0032; }
  #nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #cc0028; }
    #nav-mobile li:last-child {
      border-bottom: none; }
  #nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    #nav-mobile a:hover {
      background-color: #e6002d;
      color: #fff; }
	


#nav-trigger {
  display: none;
  width: 36px;
  height: 30px;
	background: transparent;
		
}


#nav-trigger span:after,
#nav-trigger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}
#nav-trigger span:after{
  top: 7px;
}
#nav-trigger span {
  position: relative;
  display: block;
}

#nav-trigger span,
#nav-trigger span:after,
#nav-trigger span:before {
  width: 100%;
  height: 3px;
  background-color: purple;
  transition: all 0.3s;
  backface-visibility: hidden;

}
		
	#nav-trigger.opened span:before{
		transform: rotate(45deg) translate(5px, 5px);
	}
	
	#nav-trigger.opened span:after{
		transform: rotate(-45deg) translate(5px, -5px);
	}


section{
	padding: 150px 0 0 0;
}

section{ height:1000px}



@media screen and (max-width: 767px ) {
   
    #nav-trigger  {
        display: block;
    }
	
	#nav-main {
    display: none; }

  	#nav-mobile {
    display: block; }

	
}